body {
    background-color:beige;
    color: #121212;
    margin: 0;

}
#header {
    height: 40px;
    background-color:burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header a {
  color: aliceblue;
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  background: none;
}

#header a:hover {
  color: transparent;
  color: tomato;
  font-size: 20px;
}

#title-menu {
    margin-left: 10px;

}